@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  position: relative;
  min-height: 100%;
}

body{
  background-image: url(../images/skylineChicago.jpg);
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  font-family: "Pacifico", cursive;
}
#howToUse{
    margin-top: 10px; margin-left: 30%;
}
#instruct{
    font-size: 24px;
    font-weight: bold;
    color:black;
}
#int{
    height: 600px;
    width: 600px;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 20px; margin-left: 30%;

}


