@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(../images/skylineChicago.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  font-family: "Pacifico", cursive;
}
#howToUse {
  margin-top: 10px;
  margin-left: 15%;
}
#instruct {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.card-content {
  font-family: cursive;
}

.option {
  color: black;
}
.option3 {
  color:black;
}
.info{
  margin-right: 40px; margin-left: 40px;font-family: cursive;
  padding-top: 5px;padding-right: 40px;padding-bottom: 5;padding-left: 40px;
}
#user-choice{
  margin-left: 60px;
}
.card-image{margin: 20px;
  height: 60px; width: 60px;
}