@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  position: relative;
  min-height: 100%;
}

body{
  background-image: url(../images/skylineChicago.jpg);
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  font-family: "Pacifico", cursive;
}
#howToUse{
    margin-top: 10px; margin-left: 15%;
}
#instruct{
    font-size: 24px;
    font-weight: bold;
    color:black;
}

.option1{
    color: black;
}
.option2{
  color: black;
}
.header3{
  color: white
}
.option3{
  color: white;
}
.info{
  margin-right: 40px; margin-left: 40px;
  font-family: cursive;

}
#user-choice{
  margin-left: 80px;
}
