@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  position: relative;
  min-height: 100%;
}

body{
  background-image: url(../images/skylineChicago.jpg);
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  font-family: "Pacifico", cursive;
}
#howToUse{
    margin-top: 10px; margin-left: 15%;
}
#instruct{
    font-size: 24px;
    font-weight: bold;
    color:black;
}
#events{
  margin-top: 40px; margin-right: 50px;margin-bottom: 20px; margin-left: 50px;
}

.option{
    color: black;
}
.info{
  font-family: cursive;

}
#nextInfo{
  margin-left: 100px;
}
